
* {
  margin: 0 auto;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: grey-blue;
}
/*div {
   height: 100%;
}*/
.btn-container{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.btn {
  display:inline-block;
  margin: 0 auto;
  font-size: 16px;
  padding: 15px 32px;
}


.tweetContainer {
  /*set border for container*/
  
  display: flex;
  width: 510px;
 
  flex-wrap: wrap;
  margin-left:auto;  
  margin-right:auto; 
  padding:15px;        
  border:5px solid gray;
  /*float: left*/       
}



.tweetContainer {
  background-color: pink;
  
}



/*
div {text-align: center;}
.containe  {
  /*set border for container*/
 
 /* display: flex;
  flex-wrap: wrap;
  margin-left:auto;  
  margin-right:auto; 
  width: 510px;
  padding:5px;        
  border:5px solid gray;

  /*float: left*/       
/*
}
*/